<form class="form-horizontal" id="settings_plugin_telegram">
    <!-- HEADER (COMMON TO ALL TABS) -->
    <h3>
        Telegram plugin settings
        <small>Version: {{ plugin_telegram_plugin_version }}</small>
    </h3>
    <p>
        <strong>
            If you need help on setting up this plugin, please have a look at
            <a href="https://github.com/jacopotediosi/OctoPrint-Telegram/blob/master/README.md"
               target="_blank">the documentation on github</a>.
        </strong>
    </p>
    <div class="tabbable">
        <!-- TAB NAVIGATION BUTTONS -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tabConnection" data-toggle="tab">Connection</a>
            </li>
            <li>
                <a href="#tabSettings" data-toggle="tab">General settings</a>
            </li>
            <li>
                <a href="#tabPermissions" data-toggle="tab">Permissions</a>
            </li>
            <li>
                <a href="#tabMessages" data-toggle="tab">Notification messages</a>
            </li>
        </ul>
        <!-- TAB CONTENT -->
        <div class="tab-content">
            <!-- TAB CONNECTION -->
            <div class="tab-pane active" id="tabConnection">
                <legend>Bot connection</legend>
                <div class="control-group">
                    <label class="control-label">Connection status:</label>
                    <div class="controls">
                        <p style="margin-bottom:0px; padding-top:5px;">
                            <strong data-bind="text: connection_state_str"></strong>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Telegram bot token</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_token"
                               data-bind="value: settings.settings.plugins.telegram.token" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Test token</label>
                    <div class="controls">
                        <button class="btn"
                                data-bind="click: testToken, disable:isloading()"
                                title="Test the token">
                            <i class="icon-key"></i> Test above token
                        </button>
                        <span class="help-inline">
                            <small>Click to test the token and (re)start the listener</small>
                        </span>
                        <p>
                            <span class="help-block" data-bind="if: token_state_str || isloading()">Token status is:
                                <strong id="teleErrored"
                                        data-bind="text: token_state_str, visible: ! isloading()"></strong>
                                <strong class="text-warning" data-bind="if: isloading">Testing the token, please wait...</strong>
                            </span>
                        </p>
                    </div>
                </div>
                <legend>Bot command list</legend>
                <div class="control-group">
                    <button class="btn"
                            id="btnSetCommandList"
                            data-bind="click: setCommandList"
                            title="Set default command list">
                        <i class="fas fa-terminal"></i> Set default command list
                    </button>
                    <p>
                        <strong id="CmdteleErrored"
                                data-bind="text: setCommandList_state_str, visible: ! isloading()"></strong>
                    </p>
                </div>
            </div>
            <!-- TAB GENERAL SETTINGS -->
            <div class="tab-pane" id="tabSettings">
                <legend>Notification settings</legend>
                <div class="control-group">
                    <label class="control-label">Send notification every</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="number"
                                   step="any"
                                   min="0.0"
                                   class="input-mini text-right"
                                   data-bind="value: settings.settings.plugins.telegram.notification_height" />
                            <span class="add-on">mm</span>
                        </div>
                        &nbsp;or&nbsp;
                        <div class="input-append">
                            <input type="number"
                                   step="1"
                                   min="0"
                                   class="input-mini text-right"
                                   data-bind="value: settings.settings.plugins.telegram.notification_time" />
                            <span class="add-on">min</span>
                        </div>
                        <span class="help-block">
                            <small>
                                Sends a message when either the layer height has increased by this value or this many minutes have passed since the last notification. Set to 0 to disable.
                            </small>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Delay for finished prints notification</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="number"
                                   step="any"
                                   min="0.0"
                                   class="input-mini text-right"
                                   data-bind="value: settings.settings.plugins.telegram.message_at_print_done_delay" />
                            <span class="add-on">s</span>
                        </div>
                        <span class="help-block"><small>Wait this many seconds after a print finishes before sending a notification. Useful to allow the print head and bed to reach their final positions. Set to 0 to disable.</small></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Enable emojis</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: settings.settings.plugins.telegram.send_icon" />
                            <span class="help-inline"><small>Check to enable emojis in notification messages and command responses.</small></span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Enable gifs</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: settings.settings.plugins.telegram.send_gif" />
                            <span class="help-inline">
                                <small>
                                    Check to enable gif generation.
                                    <span class="text-warning">
                                        Warning, enabling this feature might affect your prints and make octoprint unresponsive: use at your own risk.
                                    </span>
                                </small>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Disable "I do not understand you" messages</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: settings.settings.plugins.telegram.no_mistake" />
                            <span class="help-inline"><small>Check to disable "I do not understand you" messages.</small></span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Message on a loop</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: settings.settings.plugins.telegram.ForceLoopMessage" />
                            <span class="help-inline"><small>Check to call the printing event on loop if we never get an event (like for SD printing).</small></span>
                        </label>
                    </div>
                </div>
                <legend>Pre / post image actions</legend>
                <div class="control-group">
                    <label class="control-label">Pre Image Action</label>
                    <div class="controls">
                        <select id="settings_plugin_telegram_PreImgMethod"
                                data-bind="value: settings.settings.plugins.telegram.PreImgMethod">
                            <option value="None">No Action</option>
                            <option value="GCODE">G-Code Command</option>
                            <option value="SYSTEM">System Command</option>
                        </select>
                        <span class="help-block"><small>Action pre image could be none, a gcode or a system command (script name with full path)</small></span>
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_PreImgCommand"
                               data-bind="value: settings.settings.plugins.telegram.PreImgCommand" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Post Image Action</label>
                    <div class="controls">
                        <select id="settings_plugin_telegram_PostImgMethod"
                                data-bind="value: settings.settings.plugins.telegram.PostImgMethod">
                            <option value="None">No Action</option>
                            <option value="GCODE">G-Code Command</option>
                            <option value="SYSTEM">System Command</option>
                        </select>
                        <span class="help-block"><small>Action post image could be none, a gcode or a system command (script name with full path)</small></span>
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_PostImgCommand"
                               data-bind="value: settings.settings.plugins.telegram.PostImgCommand" />
                    </div>
                </div>
                <legend>IMGBB</legend>
                <div class="control-group">
                    <label class="control-label">API key imgbb</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_imgbbApiKey"
                               data-bind="value: settings.settings.plugins.telegram.imgbbApiKey" />
                        <span class="help-block"><small>We can show the thumbnail on files selection but we need an internet link so we upload the file to your account on imgbb (you can set the account to be private and the files to be deleted after 5 minutes).</small></span>
                    </div>
                </div>
                <legend>Proxies</legend>
                <div class="control-group">
                    <label class="control-label">Proxy http</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_http_proxy"
                               data-bind="value: settings.settings.plugins.telegram.http_proxy" />
                        <span class="help-block">
                            <small>
                                Example: socks5h://0.0.0.0:0000.
                                <br>
                                Use socks5h:// prefix to proxy dns requests, and socks5:// for regular dns requests.
                            </small>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Proxy https</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_https_proxy"
                               data-bind="value: settings.settings.plugins.telegram.https_proxy" />
                        <span class="help-block"><small>Example: socks5h://0.0.0.0:0000.
                            <br>
                        Use socks5h:// prefix to proxy dns requests, and socks5:// for regular dns requests.</small></span>
                    </div>
                </div>
                <legend style="display: flex;
                               justify-content: space-between;
                               align-items: center">
                    Time formats
                    <button title="Click to open information dialog"
                            class="btn btn-info btn-small"
                            data-bind="click: function() {$root.timeInfoDialog.modal('show');}">
                        <i class="icon-info-sign"></i> TimeFormat
                    </button>
                </legend>
                <div class="control-group">
                    <label class="control-label">Time Format</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_TimeFormat"
                               data-bind="value: settings.settings.plugins.telegram.TimeFormat" />
                        <span class="help-block"><small>Time format for finishing within the day.</small>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Day Time Format</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_DayTimeFormat"
                               data-bind="value: settings.settings.plugins.telegram.DayTimeFormat" />
                        <span class="help-block"><small>Time format for finishing within the week.</small></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Week Time Format</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               id="settings_plugin_telegram_WeekTimeFormat"
                               data-bind="value: settings.settings.plugins.telegram.WeekTimeFormat" />
                        <span class="help-block"><small>Time format for more than one week.</small></span>
                    </div>
                </div>
                <legend>File stuff</legend>
                <div class="control-group">
                    <label class="control-label">Select file on upload</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: settings.settings.plugins.telegram.selectFileUpload" />
                            <span class="help-inline"><small>Check to select the file directly after upload.</small></span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Sort files by upload date</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: settings.settings.plugins.telegram.fileOrder" />
                            <span class="help-inline">
                                <small>
                                    If enabled, files will be listed by upload time (newest first) when using the /files command in Telegram.
                                    Otherwise, they will be listed alphabetically by name.
                                    This setting can also be changed within the Telegram file dialog.
                                </small>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- TAB PERMISSIONS -->
            <div class="tab-pane" id="tabPermissions">
                <legend>Known chats</legend>
                <div style="float:left;
                            padding:0px 0px 0px 0px;
                            margin:0px;
                            position:relative">
                    <div style="position:absolute;
                                left:0px;
                                top:0px;
                                z-index:1010;
                                padding:0px;
                                width:100%;
                                height:100%;
                                background-color:white"
                         data-bind="visible: isloading()">
                        <span style="position:absolute;
                                     left:50%;
                                     top:50%;
                                     z-index:1011"
                              class="icon-spinner icon-spin icon-large"
                              title="Request in progress..."></span>
                    </div>
                    <table class="table table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="settings_users_name" style="border-right:1px dashed #ddd">Chat</th>
                                <th class="settings_users_active"
                                    style="width:40px;
                                           border-right:1px dashed #ddd">Command</th>
                                <th class="settings_users_active"
                                    style="width:40px;
                                           border-right:1px dashed #ddd">Notify</th>
                                <th class="settings_users_actions" style="width:40px;">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: chatListHelper.paginatedItems">
                            <tr>
                                <td class="settings_users_name" style="border-right:1px dashed #ddd">
                                    <div style="float:left;
                                                padding:0px 5px 0px 0px;
                                                margin:0px;
                                                position:relative">
                                        <span style="font-size:1.2em;" data-bind="visible: newUsr">
                                            <div style="float:left;
                                                        position:absolute;
                                                        left:-4px;
                                                        top:-4px;
                                                        z-index:1001;
                                                        padding:0px">
                                                <i style="color:orangered;" class="icon-star" title="New User"></i>
                                            </div>
                                            <div style="float:left;
                                                        position:absolute;
                                                        left:-3px;
                                                        top:-3px;
                                                        z-index:1000;
                                                        padding:0px">
                                                <i style="color:gainsboro;" class="icon-star"></i>
                                            </div>
                                        </span>
                                        <img data-bind="attr: {src: image}"
                                             width="40px"
                                             height="40px"
                                             class="img-circle teleUsrPic"
                                             alt="User Profile Photo"
                                             title="User Profile Photo">
                                    </div>
                                    <div>
                                        <i data-bind="css: {'icon-user': private, 'icon-group': !private}"></i>&nbsp;
                                        <span data-bind="text: title"></span>
                                        <span class="muted" data-bind="visible: true">
                                            <br>
                                            <small style="text-transform: uppercase;">
                                                ID: <span data-bind="text: id"></span> | <span data-bind="text: type">UNKNOWN</span>
                                            </small>
                                        </span>
                                    </div>
                                </td>
                                <!-- ko if: !newUsr -->
                                <td class="settings_users_active"
                                    style="width:40px;
                                           vertical-align: middle;
                                           border-right:1px dashed #ddd;
                                           text-align: center">
                                    <span data-bind="visible: !newUsr">
                                        <a href="#"
                                           data-bind="visible: accept_commands , click: function() {$root.showEditCmdDialog($data,'commands');}"
                                           style="text-decoration:none"
                                           title="Edit command rights">
                                            <i class="icon-off icon-large"></i>
                                        </a>
                                        <span data-bind="visible: !accept_commands && !allow_users"><i class="icon-remove icon-large"></i></span>
                                        <span data-bind="visible: !accept_commands && allow_users"><i class="icon-off icon-large"></i></span>
                                    </span>
                                </td>
                                <td class="settings_users_admin"
                                    style="width:40px;
                                           vertical-align: middle;
                                           border-right:1px dashed #ddd;
                                           text-align: center">
                                    <span data-bind="visible: !newUsr">
                                        <a href="#"
                                           data-bind="visible: send_notifications , click: function() {$root.showEditCmdDialog($data,'notifications');}"
                                           style="text-decoration:none"
                                           title="Edit notification settings">
                                            <i class="icon-comment icon-large"></i>
                                        </a>
                                        <span data-bind="visible: !send_notifications"><i class="icon-remove icon-large"></i></span>
                                    </span>
                                </td>
                                <!-- /ko -->
                                <td class="settings_users_actions"
                                    style="width:40px;
                                           vertical-align: middle;
                                           text-align: center"
                                    data-bind="attr: {colspan: newUsr == true ? 3 : null }">
                                    <span data-bind="visible: !newUsr">
                                        <a href="#"
                                           class="icon-pencil icon-large"
                                           title="Update user settings"
                                           data-bind="click: function() { $root.showEditChatDialog($data);}"></a>&nbsp;&nbsp;|&nbsp;
                                    </span>
                                    <span data-bind="visible: newUsr">
                                        <span class="muted"><small>Save first or&nbsp;&nbsp;</small></span>
                                    </span>
                                    <a href="#"
                                       class="icon-trash icon-large"
                                       title="Delete user"
                                       data-bind="click:  function() { $root.delChat($data);}"></a>
                                    <span data-bind="visible: newUsr">
                                        <span class="muted"><small>(click)</small></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="control-group">
                        <div style="display: flex;
                                    justify-content: space-between;
                                    align-items: center">
                            <button class="btn"
                                    data-bind="click: function (){ $root.requestData(true); }">
                                <i class="icon-refresh"></i> Refresh
                            </button>
                            <div class="switch-container">
                                <label class="switch-label"
                                       style="display: inline-flex;
                                              align-items: center;
                                              gap: 8px;
                                              cursor: pointer">
                                    <span>Enable auto refresh (20 sec.)</span>
                                    <input type="checkbox"
                                           style="display:none"
                                           class="switch-input"
                                           data-bind="checked: reloadUsr" />
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TAB NOTIFICATION MESSAGES -->
            <div class="tab-pane" id="tabMessages">
                <legend style="display: flex;
                               justify-content: space-between;
                               align-items: center">
                    Messages at...
                    <div class="btn-group">
                        <button class="btn btn-info btn-small"
                                data-bind="click: function() {$root.mupInfoDialog.modal('show');}">
                            <i class="icon-info-sign"></i> Markups
                        </button>
                        <button class="btn btn-info btn-small"
                                data-bind="click: function() {$root.varInfoDialog.modal('show');}">
                            <i class="icon-info-sign"></i> Variables
                        </button>
                        <button class="btn btn-info btn-small"
                                data-bind="click: function() {$root.emoInfoDialog.modal('show');}">
                            <i class="icon-info-sign"></i> Emojis
                        </button>
                    </div>
                </legend>
                <div id="telegram_msg_list">
                    <!-- Message settings get listed here -->
                </div>
                <label style="display: block; font-weight: bold; margin-bottom: 6px;">"Not connected" status</label>
                <div style="display: flex;
                            justify-content: space-around;
                            margin-bottom: 10px">
                    <div class="switch-container">
                        <label class="switch-label"
                               style="display: inline-flex;
                                      align-items: center;
                                      gap: 8px;
                                      cursor: pointer">
                            <span>Send camera photos &#x1F4F7;</span>
                            <input type="checkbox"
                                   style="display:none"
                                   class="switch-input"
                                   data-bind="checked: settings.settings.plugins.telegram.image_not_connected" />
                            <span class="switch-slider"></span>
                        </label>
                    </div>
                    <div class="switch-container">
                        <label class="switch-label"
                               style="display: inline-flex;
                                      align-items: center;
                                      gap: 8px;
                                      cursor: pointer"
                               data-bind="css: { 'disabled': !settings.settings.plugins.telegram.send_gif() }, attr: { title: !settings.settings.plugins.telegram.send_gif() ? 'Check \'Enable gifs\' setting to use this option' : null }">
                            <span>Send camera gifs &#x1F3A5;</span>
                            <input id="gifNotConnectedCheckbox"
                                   type="checkbox"
                                   style="display:none"
                                   class="switch-input"
                                   data-bind="checked: settings.settings.plugins.telegram.gif_not_connected, enable: settings.settings.plugins.telegram.send_gif" />
                            <span class="switch-slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- DIALOGS -->
<!-- EDIT CHAT DIALOG -->
<div id="settings-telegramDialogEditChat"
     class="modal modal-full hide fade">
    <div class="modal-header">
        <h4>
            <i class="icon-wrench icon-large" style="color:dimgray"></i> Edit user: <span data-bind="text: currChatTitle"></span>
        </h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <span id="telegram-user-allowed-chkbox"></span>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <span id="telegram-acccmd-chkbox"></span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <span id="telegram-notify-chkbox"></span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: updateChat">Close</button>
    </div>
</div>
<!-- EDIT COMMANDS / NOTIFICATIONS DIALOG -->
<div id="settings-telegramDialogEditCommands" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times"></i>
        </button>
        <h4>
            <i class="icon-wrench icon-large" style="color:dimgray"></i> <span data-bind="text: currChatTitle"></span>
        </h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" id="tele-edit-control-label"></label>
                <div class="controls" id="telegram-cmd-chkbox-grp"></div>
            </div>
        </form>
    </div>
</div>
<!-- VARIABLES DIALOG -->
<div id="settings-telegramDialogVarInfo"
     class="modal modal-full hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times"></i>
        </button>
        <nobr>
            <h4>
                <i class="icon-info-sign icon-large" style="color:blue"></i> Variables
            </h4>
        </nobr>
    </div>
    <div class="modal-body">
        Use Variables by adding <code>{&lt;varName&gt;}</code> to your message text (e.g., <code>{bed_temp}</code>). Usable Variables are:
        {# djlint:off #}
        {% set variable_table = [
            {
                "var": "{file} {path}",
                "desc": "File name and full path of the file currently being printed. <small class='muted'>Only useful while printing.</small>"
            },
            {
                "var": "{status}",
                "desc": "The raw output of <a href='https://docs.octoprint.org/en/master/modules/printer.html#octoprint.printer.PrinterInterface.get_current_data'><code>get_current_data()</code></a> OctoPrint function. "
                    "It's a dictionary you can navigate like: <code>status[state][text]</code>. Print it in a notification to explore its structure."
            },
            {
                "var": "{z}",
                "desc": "The current z value."
            },
            {
                "var": "{percent}",
                "desc": "Current percentage of the print progress. <small class='muted'>Only useful for height change notifications.</small>"
            },
            {
                "var": "{time_done} {time_left} {time_finish}",
                "desc": "Elapsed / remaining / estimated finish time of the current print. <small class='muted'>Only useful for height change events.</small>"
            },
            {
                "var": "{temps}",
                "desc": "The raw output of <a href='https://docs.octoprint.org/en/master/modules/printer.html#octoprint.printer.PrinterInterface.get_current_temperatures'><code>get_current_temperatures()</code></a> OctoPrint function. "
                    "It's a dictionary you can navigate like: <code>temps[bed][actual]</code>. Print it in a notification to explore its structure."
            },
            {
                "var": "{bed_temp} {eX_temp}",
                "desc": "Current temperatures of the bed and extruder X (where X ranges from 1 to 5)."
            },
            {
                "var": "{bed_target} {eX_target}",
                "desc": "Target temperatures of the bed and extruder X (where X ranges from 1 to 5)."
            },
            {
                "var": "{currentLayer} {totalLayer}",
                "desc": "Current and total number of layers. <small class='muted'><a href='https://github.com/OllisGit/OctoPrint-DisplayLayerProgress'>DisplayLayerProgress</a> plugin required.</small>"
            },
            {
                "var": "{owner} {user}",
                "desc": "The name of the user who started the print / the name of the user who performed the action that triggered the notification (e.g., paused or canceled the print)."
            },
            {
                "var": "{event}",
                "desc": "The name of the event which caused the notification."
            },
            {
                "var": "{error_msg}",
                "desc": "The error message string. <small class='muted'>Only useful for 'Error' event notifications.</small>"
            },
            {
                "var": "{UserNotif_Text}",
                "desc": "The text received via the serial message <code>echo:UserNotif TEXT</code>, which is triggered by printing a G-code like: <code>M118 E1 UserNotif TEXT</code>. "
                    "<small class='muted'>Only useful for 'UserNotif' event notifications.</small>"
            },
        ] %}
        {# djlint:on #}
        <table class="table table-condensed table-striped"
               style="table-layout: auto">
            <thead>
                <tr>
                    <th style="border-right:1px dashed #ddd">Variable</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for row in variable_table %}
                    <tr>
                        <td style="vertical-align: middle; border-right:1px dashed #ddd">{{ row.var | safe }}</td>
                        <td style="vertical-align: middle;">{{ row.desc | safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <b>Note:</b> On startup and a few moments after startup of OctoPrint the temperatures can't be retrieved from the printer and will be shown as '0.0'
    </div>
</div>
<!-- EMOJIS DIALOG -->
<div id="settings-telegramDialogEmoInfo"
     class="modal modal-full hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times"></i>
        </button>
        <nobr>
            <h4>
                <i class="icon-info-sign icon-large" style="color:blue"></i> Emojis
            </h4>
        </nobr>
    </div>
    <div class="modal-body">
        <p>
            Add <code>{emo:&lt;emoName&gt}</code> to your message text to use emojis.
            The <code>emoName</code> has to be set according to the 'Description' column on
            <a href="https://www.unicode.org/emoji/charts/full-emoji-list.html"
               target="_blank">this website</a>.
            Please note that no emoji will be sent if 'Enable Emojis' setting is disabled.
        </p>
        <p>
            <b>Example:</b>
            <br>
            If you want to use {{ "loudly crying face" | telegram_emoji }} in your message, you have to type <code>{emo:loudly crying face}</code>.
        </p>
        <br>
        <p>
            <span style="font-size:1.25em;">There are a few additional shortcuts available:</span>
            <table class="table table-condensed table-striped"
                   style="table-layout: auto">
                <thead>
                    <tr>
                        <th style="border-right:1px dashed #ddd;text-align:center;">Emoji</th>
                        <th style="border-right:1px solid #ddd">emoName</th>
                        <th style="border-right:1px dashed #ddd;text-align:center;">Emoji</th>
                        <th>emoName</th>
                    </tr>
                </thead>
                <tbody>
                    {% set items = plugin_telegram_custom_emoji_map.items()|list %}
                    {% for i in range(0, items|length, 2) %}
                        <tr>
                            {% for j in [0, 1] %}
                                {% if i + j < items|length %}
                                    {% set key, _ = items[i + j] %}
                                    <td style="border-right:1px dashed #ddd; text-align:center;">{{ key | telegram_emoji }}</td>
                                    <td style="border-right:1px solid #ddd">{{ key }}</td>
                                {% else %}
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
        <p>
            <span class="muted">
                <small>
                    Data for internal icon list taken from: <a href="https://github.com/muan/unicode-emoji-json" target="_blank">muan/unicode-emoji-json</a>.
                </small>
            </span>
        </p>
    </div>
</div>
<!-- MARKUPS DIALOG -->
<div id="settings-telegramDialogMupInfo"
     class="modal modal-full hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times"></i>
        </button>
        <nobr>
            <h4>
                <i class="icon-info-sign icon-large" style="color:blue"></i> Markups
            </h4>
        </nobr>
    </div>
    <div class="modal-body">
        <p>
            You can use simple markup in messages. Markup for messages is activated by the markup options below the message text fields. You can choose using HTML markup or the markdown variants. The list below shows the different markups you can use.
        </p>
        {% set markdown_table = [
        {
        "md": "*bold*",
        "html": "&lt;b&gt;bold&lt;/b&gt;<br>&lt;strong&gt;bold&lt;/strong&gt;",
        "effect": "<strong>bold</strong>"
        },
        {
        "md": "_italic_",
        "html": "&lt;i&gt;italic&lt;/i&gt;<br>&lt;em&gt;italic&lt;/em&gt;",
        "effect": "<em>italic</em>"
        },
        {
        "md": "[text](url)",
        "html": '&lt;a href="url"&gt;text&lt;/a&gt;',
        "effect": '<a href="#">text</a>'
        },
        {
        "md": "`inline code`",
        "html": "&lt;code&gt;inline code&lt;/code&gt;",
        "effect": "txt <code>inline code</code> txt"
        },
        {
        "md": "```code block```",
        "html": "&lt;pre&gt;code block&lt;/pre&gt;",
        "effect": "txt <pre>code block</pre> txt"
        }
        ] %}
        <table class="table table-condensed table-striped"
               style="table-layout: auto">
            <thead>
                <tr>
                    <th style="border-right:1px dashed #ddd;text-align:center;">Markdown</th>
                    <th style="border-right:1px dashed #ddd;text-align:center;">HTML</th>
                    <th style="text-align:center">Effect</th>
                </tr>
            </thead>
            <tbody>
                {% for row in markdown_table %}
                    <tr>
                        <td style="vertical-align: middle;
                                   border-right:1px dashed #ddd;
                                   text-align:center">{{ row.md }}</td>
                        <td style="vertical-align: middle;
                                   border-right:1px dashed #ddd;
                                   text-align:center">{{ row.html | safe }}</td>
                        <td style="vertical-align: middle; text-align:center">{{ row.effect | safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <span class="muted">
                <small>
                    See
                    <a href="https://core.telegram.org/bots/api#formatting-options"
                       target="_blank">Telegram Bot API Documentation</a> for more information.
                </small>
            </span>
        </p>
    </div>
    <div id="settings-telegramDialogTimeInfo"
         class="modal modal-full hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="fas fa-times"></i>
            </button>
            <nobr>
                <h4>
                    <i class="icon-info-sign icon-large" style="color:blue"></i> TimeFormat
                </h4>
            </nobr>
        </div>
        <div class="modal-body">
            <p>
                You can set the time format in the options.
                {% set format_codes = [
                ("%a", "Weekday as locale’s abbreviated name.", "Mon"),
                ("%A", "Weekday as locale’s full name.", "Monday"),
                ("%d", "Day of the month as a zero-padded decimal number.", "30"),
                ("%-d", "Day of the month as a decimal number. (Platform specific)", "30"),
                ("%b", "Month as locale’s abbreviated name.", "Sep"),
                ("%B", "Month as locale’s full name.", "September"),
                ("%m", "Month as a zero-padded decimal number.", "09"),
                ("%-m", "Month as a decimal number. (Platform specific)", "9"),
                ("%y", "Year without century as a zero-padded decimal number.", "13"),
                ("%Y", "Year with century as a decimal number.", "2013"),
                ("%H", "Hour (24-hour clock) as a zero-padded decimal number.", "07"),
                ("%-H", "Hour (24-hour clock) as a decimal number. (Platform specific)", "7"),
                ("%I", "Hour (12-hour clock) as a zero-padded decimal number.", "07"),
                ("%-I", "Hour (12-hour clock) as a decimal number. (Platform specific)", "7"),
                ("%p", "Locale’s equivalent of either AM or PM.", "AM"),
                ("%M", "Minute as a zero-padded decimal number.", "06"),
                ("%-M", "Minute as a decimal number. (Platform specific)", "6"),
                ("%S", "Second as a zero-padded decimal number.", "05"),
                ("%-S", "Second as a decimal number. (Platform specific)", "5"),
                ("%f", "Microsecond as a decimal number, zero-padded on the left.", "000000"),
                ("%z", "UTC offset in the form +HHMM or -HHMM (empty string if the object is naive).", ""),
                ("%Z", "Time zone name (empty string if the object is naive).", ""),
                ("%j", "Day of the year as a zero-padded decimal number.", "273"),
                ("%-j", "Day of the year as a decimal number. (Platform specific)", "273"),
                ("%U", "Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.", "39"),
                ("%W", "Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.", "39"),
                ("%c", "Locale’s appropriate date and time representation.", "Mon Sep 30 07:06:05 2013"),
                ("%x", "Locale’s appropriate date representation.", "09/30/13"),
                ("%X", "Locale’s appropriate time representation.", "07:06:05")
                ] %}
                <table class="table table-condensed table-striped"
                       style="table-layout: auto">
                    <thead>
                        <tr>
                            <th style="border-right:1px dashed #ddd;text-align:center;">Code</th>
                            <th style="border-right:1px dashed #ddd;text-align:center;">Meaning</th>
                            <th style="text-align:center">Example</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for code, meaning, example in format_codes %}
                            <tr>
                                <td style="vertical-align: middle;
                                           border-right:1px dashed #ddd;
                                           text-align:center">{{ code }}</td>
                                <td style="vertical-align: middle;
                                           border-right:1px dashed #ddd;
                                           text-align:center">{{ meaning }}</td>
                                <td style="vertical-align: middle;">{{ example }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>
